Repository openshift/osde2e: changes, and which Tekton pipelines are due for each by the changed paths.
All: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

fedramp-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/osde2e-cicada-tenant/osde2e/fedramp:{{revision}}
  - name: dockerfile
    value: test/fedramp/Dockerfile
  taskRunTemplate:
  ...

osde2e-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/osde2e-cicada-tenant/osde2e/osde2e-main:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: osde2e.Dockerfile
  ...

osde2e-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/osde2e-cicada-tenant/osde2e/osde2e-main:{{revision}}
  - name: dockerfile
    value: osde2e.Dockerfile
  - name: build-source-image
    value: 'true'
  ...

sdn-migration-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/osde2e-cicada-tenant/test-suites/sdn-migration:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

sdn-migration-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/osde2e-cicada-tenant/test-suites/sdn-migration:{{revision}}
  - name: dockerfile
    value: test/sdn_migration/Dockerfile
  taskRunTemplate:
  ...

deploy: overhaul dashboard local deploy tooling
  .claude/skills/dashboard-dev/SKILL.md
  AGENTS.md
  Makefile
  configs/local/dashboard-build/.gitignore
  configs/local/dashboard-build/Dockerfile
  scripts/dashboard/deploy.sh
  scripts/dashboard/run-local.sh
Due: osde2e-main-on-pull-request, osde2e-main-on-push

refactor: rename operators → deliverables across dashboard
  pkg/dashboard/collectors/deliverables.go
  pkg/dashboard/collectors/sqs.go
  pkg/dashboard/models/types.go
  pkg/dashboard/server/server.go
  pkg/dashboard/server/templates/base.html
  pkg/dashboard/server/templates/deliverables.html
  pkg/dashboard/store/store.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

feat: dashboard JUnit viewer, S3 proxy, URL/label renames, and bug fixes
  cmd/osde2e/dashboard/cmd.go
  pkg/dashboard/collectors/deliverables.go
  pkg/dashboard/collectors/helpers.go
  pkg/dashboard/collectors/s3tests.go
  pkg/dashboard/collectors/sqs.go
  pkg/dashboard/config/config.go
  pkg/dashboard/models/types.go
  pkg/dashboard/server/server.go
  pkg/dashboard/server/templates.go
  pkg/dashboard/server/templates/analysis.html
  pkg/dashboard/server/templates/base.html
  pkg/dashboard/server/templates/deliverables.html
  pkg/dashboard/server/templates/junit-report.html
  pkg/dashboard/server/templates/pipeline-detail.html
  pkg/dashboard/store/store.go
  scripts/dashboard/deploy.sh
Due: osde2e-main-on-pull-request, osde2e-main-on-push

feat: clickable commit SHA links on pipeline detail page
  pkg/dashboard/collectors/helpers.go
  pkg/dashboard/server/server.go
  pkg/dashboard/server/templates.go
  pkg/dashboard/server/templates/pipeline-detail.html
Due: osde2e-main-on-pull-request, osde2e-main-on-push

feat: add Delivery Dashboard — core infrastructure
  AGENTS.md
  Makefile
  cmd/osde2e/dashboard/cmd.go
  cmd/osde2e/main.go
  go.mod
  go.sum
  pkg/dashboard/collectors/helpers.go
  pkg/dashboard/config/config.go
  pkg/dashboard/handlers/utils.go
  pkg/dashboard/models/types.go
  pkg/dashboard/server/server.go
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

feat: add Delivery Dashboard — backend
  AGENTS.md
  Makefile
  cmd/osde2e/dashboard/cmd.go
  cmd/osde2e/main.go
  go.mod
  go.sum
  pkg/dashboard/collectors/deliverables.go
  pkg/dashboard/collectors/helpers.go
  pkg/dashboard/collectors/reserves.go
  pkg/dashboard/collectors/s3tests.go
  pkg/dashboard/collectors/sqs.go
  pkg/dashboard/collectors/usage.go
  pkg/dashboard/config/config.go
  pkg/dashboard/handlers/utils.go
  pkg/dashboard/models/types.go
  pkg/dashboard/server/server.go
  pkg/dashboard/server/templates.go
  pkg/dashboard/server/templates/analysis.html
  pkg/dashboard/server/templates/base.html
  pkg/dashboard/server/templates/deliverables.html
  pkg/dashboard/server/templates/junit-report.html
  pkg/dashboard/server/templates/pipeline-detail.html
  pkg/dashboard/server/templates/usage.html
  pkg/dashboard/store/store.go
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

feat: add Delivery Dashboard — foundation
  AGENTS.md
  Makefile
  cmd/osde2e/main.go
  go.mod
  go.sum
  pkg/dashboard/collectors/reserves.go
  pkg/dashboard/collectors/usage.go
  pkg/dashboard/config/config.go
  pkg/dashboard/handlers/utils.go
  pkg/dashboard/models/types.go
  pkg/dashboard/store/store.go
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

feat: add Delivery Dashboard — collectors and HTTP server
  cmd/osde2e/dashboard/cmd.go
  pkg/dashboard/collectors/deliverables.go
  pkg/dashboard/collectors/helpers.go
  pkg/dashboard/collectors/s3tests.go
  pkg/dashboard/collectors/sqs.go
  pkg/dashboard/server/server.go
  pkg/dashboard/server/templates.go
  pkg/dashboard/server/templates/analysis.html
  pkg/dashboard/server/templates/base.html
  pkg/dashboard/server/templates/deliverables.html
  pkg/dashboard/server/templates/junit-report.html
  pkg/dashboard/server/templates/pipeline-detail.html
  pkg/dashboard/server/templates/usage.html
Due: osde2e-main-on-pull-request, osde2e-main-on-push

chore: fix gofumpt formatting in dashboard packages
  pkg/dashboard/collectors/deliverables.go
  pkg/dashboard/collectors/reserves.go
  pkg/dashboard/collectors/s3tests.go
  pkg/dashboard/collectors/sqs.go
  pkg/dashboard/handlers/utils.go
  pkg/dashboard/models/types.go
  pkg/dashboard/server/server.go
  pkg/dashboard/store/store.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

feat: add Delivery Dashboard — backend
  pkg/dashboard/collectors/deliverables.go
  pkg/dashboard/collectors/reserves.go
  pkg/dashboard/collectors/s3tests.go
  pkg/dashboard/collectors/sqs.go
  pkg/dashboard/handlers/utils.go
  pkg/dashboard/models/types.go
  pkg/dashboard/server/server.go
  pkg/dashboard/store/store.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

feat: add Delivery Dashboard — UI templates
  pkg/dashboard/README.md
  pkg/dashboard/collectors/deliverables.go
  pkg/dashboard/collectors/reserves.go
  pkg/dashboard/collectors/s3tests.go
  pkg/dashboard/collectors/sqs.go
  pkg/dashboard/handlers/utils.go
  pkg/dashboard/models/types.go
  pkg/dashboard/server/server.go
  pkg/dashboard/server/templates/analysis.html
  pkg/dashboard/server/templates/base.html
  pkg/dashboard/server/templates/deliverables.html
  pkg/dashboard/server/templates/junit-report.html
  pkg/dashboard/server/templates/pipeline-detail.html
  pkg/dashboard/server/templates/usage.html
  pkg/dashboard/store/store.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

feat: add Delivery Dashboard — backend
  pkg/dashboard/server/templates/analysis.html
  pkg/dashboard/server/templates/base.html
  pkg/dashboard/server/templates/deliverables.html
  pkg/dashboard/server/templates/junit-report.html
  pkg/dashboard/server/templates/pipeline-detail.html
  pkg/dashboard/server/templates/usage.html
Due: osde2e-main-on-pull-request, osde2e-main-on-push

feat: add Delivery Dashboard — UI templates
  pkg/dashboard/server/templates/analysis.html
  pkg/dashboard/server/templates/base.html
  pkg/dashboard/server/templates/deliverables.html
  pkg/dashboard/server/templates/junit-report.html
  pkg/dashboard/server/templates/pipeline-detail.html
  pkg/dashboard/server/templates/usage.html
Due: osde2e-main-on-pull-request, osde2e-main-on-push

feat: add Delivery Dashboard — deploy tooling
  .claude/commands/dashboard-dev.md
  .claude/skills/dashboard-dev/SKILL.md
  configs/local/dashboard-build/.gitignore
  configs/local/dashboard-build/Dockerfile
  dashboard.Dockerfile
  scripts/dashboard/deploy.sh
  scripts/dashboard/verify-build.sh
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Migrate AWS SDK from v1 to v2
  cmd/osde2e/cleanup/cmd.go
  go.mod
  go.sum
  pkg/common/aws/ec2.go
  pkg/common/aws/iam.go
  pkg/common/aws/s3.go
  pkg/common/aws/securitygroups.go
  pkg/common/aws/securitygroups_test.go
  pkg/common/aws/session.go
  pkg/common/aws/vpc.go
  pkg/common/providers/ocmprovider/cluster.go
  pkg/e2e/openshift/hypershift/verifyInstall.go
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

Fix golangci-lint issues from AWS SDK v2 migration
  .golangci.yml
  pkg/common/aws/s3.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Migrate S3 uploader from s3/manager to s3/transfermanager
  .golangci.yml
  go.mod
  go.sum
  pkg/common/aws/s3.go
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

Add ephemeral ROSA deploy script for hypershift-pr-check
  configs/ephemeral-cluster.yaml
  scripts/ephemeral-rosa-deploy.sh
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Address CodeRabbit review findings from AWS SDK v2 migration
  pkg/common/aws/iam.go
  pkg/common/aws/session.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Add Sanitizer before S3 upload
  pkg/common/aws/s3.go
  pkg/common/aws/s3_test.go
  pkg/e2e/adhoctestimages/adhoctestimages.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

log sanitizer errors, explicit config:
  pkg/common/aws/s3.go
  pkg/common/aws/s3_test.go
  pkg/e2e/adhoctestimages/adhoctestimages.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

add bonfire CLI wrapper
  pkg/common/ephemeral/bonfire.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

fix: update NewClient call for go-github v89 API change
  pkg/debug/diff.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

fix: channel ID instead of name [SDCICD-1857]
  pkg/common/config/config.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Add Secrets Manager leftover cleanup for unmanaged ROSA OIDC keys
  cmd/osde2e/cleanup/cmd.go
  go.mod
  go.sum
  pkg/common/aws/secrets.go
  pkg/common/aws/secrets_test.go
  pkg/common/providers/ocmprovider/oidc_secret_arns.go
  pkg/common/providers/ocmprovider/oidc_secret_arns_test.go
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

Treat unreachable AWS regions as recoverable secrets cleanup errors
  cmd/osde2e/cleanup/cmd.go
  pkg/common/aws/secrets.go
  pkg/common/aws/secrets_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

change secrets prefix
  pkg/common/aws/secrets.go
  pkg/common/aws/secrets_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

ROSAENG-15331 Add osde2e config files for CAD Ginkgo label filters
  configs/cad-gcp.yaml
  configs/cad-hcp.yaml
  configs/cad-rosa.yaml
Due: osde2e-main-on-pull-request, osde2e-main-on-push

remove myself from reviewers
  OWNERS
Due: none

remove myself from reviewers (#3290)
  OWNERS
Due: none

Path conditions:
  fedramp-on-push: ((any of: test/fedramp/***) or (any of: .tekton/fedramp-push.yaml)) or (any of: go.*)
  osde2e-main-on-pull-request: (any file but: ^(?:docs|\.github|scripts|test)/|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE|renovate.json)$) or (any of: .tekton/osde2e-main-pull-request.yaml)
  osde2e-main-on-push: (any file but: ^(?:docs|\.github|scripts|test)/|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE|renovate.json)$) or (any of: .tekton/osde2e-main-push.yaml)
  sdn-migration-on-pull-request: ((any of: test/sdn_migration/***) or (any of: .tekton/sdn-migration-pull-request.yaml)) or (any of: go.*)
  sdn-migration-on-push: ((any of: test/sdn_migration/***) or (any of: .tekton/sdn-migration-push.yaml)) or (any of: go.*)
