Repository openshift/osde2e: changes, and which Tekton pipelines are due for each by the changed paths.
All: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

Path conditions:
  fedramp-on-push: ((any of: test/fedramp/***) or (any of: .tekton/fedramp-push.yaml)) or (any of: go.*)
  osde2e-main-on-pull-request: (any file but: ^(?:docs|\.github|scripts|test)/|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE|renovate.json)$) or (any of: .tekton/osde2e-main-pull-request.yaml)
  osde2e-main-on-push: (any file but: ^(?:docs|\.github|scripts|test)/|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE|renovate.json)$) or (any of: .tekton/osde2e-main-push.yaml)
  sdn-migration-on-pull-request: ((any of: test/sdn_migration/***) or (any of: .tekton/sdn-migration-pull-request.yaml)) or (any of: go.*)
  sdn-migration-on-push: ((any of: test/sdn_migration/***) or (any of: .tekton/sdn-migration-push.yaml)) or (any of: go.*)

SDCICD-1708: update osde2e dependency version based on osde2e-common's latest changes (#3067)
  go.mod
  go.sum
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

Change golangci-lint to 2.7.2
  Makefile
Due: osde2e-main-on-pull-request, osde2e-main-on-push

add Min Lei as an owner
  OWNERS
Due: none

bump osde2e with osde2e-common updated dependencies
  go.mod
  go.sum
  pkg/common/aws/iam.go
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

bump root image to go 1.24 and openshift 4.20
  .ci-operator.yaml
Due: osde2e-main-on-pull-request, osde2e-main-on-push

change brew builder rhel_9_1.24
  osde2e.Dockerfile
  test/fedramp/Dockerfile
  test/sdn_migration/Dockerfile
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

change e2e image path to the new Konflux repo
  configs/e2e-suite.yaml
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1723: separate Framework-Level and Test-Level Log Analysis
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Revert "Unify osde2e upgrade script with pipeline-driven env vars"
  scripts/latest-default-y-minus-1-to-latest-default-y.sh
Due: none

feat: swap embedded logs with message attachments
  internal/reporter/slack.go
  pkg/common/config/config.go
  pkg/common/slack/client.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1704] add cluster id and expiration to message
  internal/analysisengine/engine.go
  internal/reporter/slack.go
  internal/reporter/slack_test.go
  internal/sanitizer/sanitizer.go
  pkg/common/aws/iam.go
  pkg/common/cluster/healthchecks/clusterversionoperator.go
  pkg/common/cluster/healthchecks/machines.go
  pkg/common/config/config.go
  pkg/common/slack/client.go
  pkg/common/slack/client_test.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1717: add support for running krkn-ai's discover command using executor
  cmd/osde2e/test/cmd.go
  pkg/common/config/config.go
  pkg/common/executor/executor.go
  pkg/e2e/adhoctestimages/adhoctestimages.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1717: Fix kube config issue
  pkg/common/executor/executor.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1717: Jenkins script for krkn-ai
  scripts/krkn-ai-job.sh
Due: none

orchestrator inteface
  cmd/osde2e/test/cmd.go
  pkg/common/orchestrator/README.md
  pkg/common/orchestrator/factory.go
  pkg/common/orchestrator/interfaces.go
  pkg/common/orchestrator/orchestrator.go
  pkg/common/orchestrator/types.go
  pkg/e2e/README.md
  pkg/e2e/analyze/ai.go
  pkg/e2e/analyze/analyzer_test.go
  pkg/e2e/analyze/noop.go
  pkg/e2e/e2e.go
  pkg/e2e/execute/ginkgo.go
  pkg/e2e/execute/ginkgo_test.go
  pkg/e2e/factory.go
  pkg/e2e/orchestrator_test.go
  pkg/e2e/provision/ocm.go
  pkg/e2e/provision/ocm_test.go
  pkg/e2e/report/composite.go
  pkg/e2e/report/reporter_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

rename executor > testjobrunner and runner > mainjobrunner
  pkg/common/TestJobRunner/junit.go
  pkg/common/TestJobRunner/testjobrunner.go
  pkg/common/helper/helper.go
  pkg/common/helper/olm.go
  pkg/common/helper/projects.go
  pkg/common/helper/runner.go
  pkg/common/mainjobrunner/command.go
  pkg/common/mainjobrunner/command_test.go
  pkg/common/mainjobrunner/git.go
  pkg/common/mainjobrunner/git_test.go
  pkg/common/mainjobrunner/imagestream.go
  pkg/common/mainjobrunner/imagestream_test.go
  pkg/common/mainjobrunner/mainjobrunner.go
  pkg/common/mainjobrunner/mainjobrunner_test.go
  pkg/common/mainjobrunner/pod.go
  pkg/common/mainjobrunner/results.go
  pkg/common/mainjobrunner/results_test.go
  pkg/common/mainjobrunner/service.go
  pkg/common/mainjobrunner/service_test.go
  pkg/e2e/adhoctestimages/adhoctestimages.go
  pkg/e2e/state/prometheus.go
  test/executor/executor_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Orchestrator interface
  pkg/common/orchestrator/design.md
  pkg/common/orchestrator/helpers.go
  pkg/common/orchestrator/orchestrator.go
  pkg/common/orchestrator/orchestrator_test.go
  pkg/e2e/e2e.go
  pkg/e2e/e2e_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Orchestrator interface
  internal/reporter/slack.go
  pkg/common/cluster/clusterutil.go
  pkg/common/orchestrator/orchestrator.go
  pkg/common/providers/ocmprovider/logs.go
  pkg/common/runner/results.go
  pkg/common/spi/provider.go
  pkg/e2e/e2e.go
  pkg/e2e/e2e_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1717: add command krknai
  cmd/osde2e/krknai/cmd.go
  cmd/osde2e/main.go
  pkg/krknai/krknai.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1717: add barebones krkn implementation.
  pkg/krknai/krknai.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1717: krkn discover command
  cmd/osde2e/krknai/cmd.go
  cmd/osde2e/main.go
  pkg/common/config/config.go
  pkg/krknai/krknai.go
  pkg/krknai/krknai_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1717: Krkn-ai orchestrator implementation and discover command. (#3081)
  cmd/osde2e/krknai/cmd.go
  cmd/osde2e/main.go
  pkg/common/config/config.go
  pkg/krknai/krknai.go
  pkg/krknai/krknai_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1717: update yaml file
  pkg/common/config/config.go
  pkg/krknai/krknai.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Apply suggestion from @ritmun
  pkg/krknai/krknai.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1727 Rename USE_EXISTING_CLUSTER to USE_CLUSTER_RESERVE in osde2e
  pkg/common/cluster/clusterutil.go
  pkg/common/config/config.go
  pkg/common/providers/ocmprovider/cluster.go
  pkg/e2e/osd/inhibitions.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1728 adding AGENTS.md with local test config examples
  AGENTS.md
  configs/local/example-e2e.run.xml
  configs/local/example-launch.json
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1717: update yaml file (#3082)
  pkg/common/config/config.go
  pkg/krknai/krknai.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

remove initial polling waits, set immediate polling to true
  pkg/common/cluster/clusterutil.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1704] upgrade Slack reporter with metadata, Prow links, and smart log extraction
  internal/analysisengine/engine.go
  internal/reporter/slack.go
  internal/reporter/slack_test.go
  internal/reporter/testdata/periodic-ci-openshift-osde2e-main-nightly-4.20-osd-aws/build-log-truncated.txt
  internal/reporter/testdata/periodic-ci-openshift-osde2e-main-nightly-4.20-osd-aws/build-log.txt
  pkg/common/config/config.go
  pkg/common/slack/client.go
  pkg/common/slack/client_test.go
  pkg/e2e/e2e.go
  pkg/e2e/e2e_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1729] Add S3 upload capability for test artifacts
  pkg/common/config/config.go
  pkg/common/s3upload/uploader.go
  pkg/common/s3upload/uploader_test.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

fix: numerous issues with the slack messages and simplify the output
  internal/reporter/slack.go
  internal/reporter/slack_integration_test.go
  internal/reporter/slack_test.go
  internal/reporter/testdata/periodic-ci-openshift-osde2e-main-nightly-4.20-osd-aws/build-log-truncated.txt
  pkg/common/slack/client.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Update agent rules and update some occurrences of h.Kube() to use h.Client instead
  AGENTS.md
  pkg/common/helper/crud.go
  pkg/common/helper/helper.go
  pkg/common/helper/utilities.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

allow dryrun for krkai command by skipping running krknai container
  pkg/krknai/krknai.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Implement krkn-ai run mode with Prometheus integratioin
  go.mod
  go.sum
  pkg/common/config/config.go
  pkg/krknai/krknai.go
  pkg/krknai/krknai_test.go
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

s3 refactor
  pkg/common/aws/s3.go
  pkg/common/aws/s3_test.go
  pkg/common/helper/runner.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

simplify bucket prefix
  pkg/common/aws/s3.go
  pkg/common/aws/s3_test.go
  pkg/common/config/config.go
  pkg/common/s3upload/uploader.go
  pkg/common/s3upload/uploader_test.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

created a GitHub workflow to detect if files in pkg/ or cmd/ directories have changed
  .github/workflows/orchestrator-change-detection.yml
Due: none

created a GitHub workflow to detect if files in pkg/ or cmd/ directories have changed (#3094)
  .github/workflows/orchestrator-change-detection.yml
Due: none
