Repository openshift/osde2e: changes, and which Tekton pipelines are due for each by the changed paths.
All: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

Path conditions:
  fedramp-on-push: ((any of: test/fedramp/***) or (any of: .tekton/fedramp-push.yaml)) or (any of: go.*)
  osde2e-main-on-pull-request: (any file but: ^(?:docs|\.github|scripts|test)/|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE|renovate.json)$) or (any of: .tekton/osde2e-main-pull-request.yaml)
  osde2e-main-on-push: (any file but: ^(?:docs|\.github|scripts|test)/|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE|renovate.json)$) or (any of: .tekton/osde2e-main-push.yaml)
  sdn-migration-on-pull-request: ((any of: test/sdn_migration/***) or (any of: .tekton/sdn-migration-pull-request.yaml)) or (any of: go.*)
  sdn-migration-on-push: ((any of: test/sdn_migration/***) or (any of: .tekton/sdn-migration-push.yaml)) or (any of: go.*)

Remove AlertmanagerInhibitions test (moved to CAO)
  go.mod
  go.sum
  pkg/e2e/osd/inhibitions.go
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

SDCICD-1822 add github repo link to specific commit for PD fail notifications
  pkg/common/slack/reporter.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1774 remove unused profile swap code
  pkg/common/config/aws_config.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Fix prometheus data collection exit code guard killing HTTP server
  pkg/e2e/state/prometheus.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

add ListOwnedClusters
  cmd/osde2e/cleanup/cmd.go
  pkg/common/providers/ocmprovider/cluster.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

add test
  pkg/common/providers/ocmprovider/list_owned_clusters_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Remove unused test suite configs
  configs/informing-suite.yaml
  configs/proxy-suite.yaml
  configs/rosa-e2e-suite.yaml
Due: osde2e-main-on-pull-request, osde2e-main-on-push

test: refactor provision command for testability
  .gitignore
  cmd/osde2e/provision/cmd.go
  cmd/osde2e/provision/cmd_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

fix: format issues
  cmd/osde2e/provision/cmd_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Fix provision-cluster-reserve.sh to propagate osde2e exit codes to Jenkins
  scripts/provision-cluster-reserve.sh
Due: none

Add osde2e-common debugging guidelines to AGENTS.md
  AGENTS.md
Due: none

maint: remove obsolete filters
  OWNERS
Due: none

maint: bump osde2e-common to fix error handling [SDCICD-1752]
  go.mod
  go.sum
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

per-suite S3 upload
  pkg/e2e/adhoctestimages/adhoctestimages.go
  pkg/e2e/e2e.go
  pkg/e2e/e2e_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

add MCSimulation struct
  pkg/common/config/config.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Add operator restart
  pkg/common/mcsimulation/restart.go
  pkg/common/mcsimulation/restart_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Add mcsimulation CRD installation logic
  pkg/common/mcsimulation/crds.go
  pkg/common/mcsimulation/crds_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1830] Add retry mechanism with flat 30s delay, fallback model, integration tests
  internal/analysisengine/engine.go
  internal/llm/errors.go
  internal/llm/gemini.go
  internal/llm/retry.go
  internal/llm/retry_test.go
  pkg/e2e/e2e.go
  pkg/krknai/analysisengine/engine.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1830] Force final LLM response when max tool iterations exhausted
  internal/llm/gemini.go
  internal/llm/gemini_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

use apiextensions-apiserver
  go.mod
  pkg/common/mcsimulation/crds.go
  pkg/common/mcsimulation/crds_test.go
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

handling multiple deployments
  pkg/common/mcsimulation/restart.go
  pkg/common/mcsimulation/restart_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Add MC simulation orchestrator integration
  configs/mc-simulation.yaml
  pkg/common/executor/executor.go
  pkg/e2e/adhoctestimages/adhoctestimages.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1840 Add mcsimulation package with CRD installation logic (#3254)
  go.mod
  pkg/common/mcsimulation/crds.go
  pkg/common/mcsimulation/crds_test.go
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

SDCICD-1840 Add MCSimulation operator restart logic (#3255)
  pkg/common/mcsimulation/restart.go
  pkg/common/mcsimulation/restart_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1840 MC simulation orchestrator integration + executor env propagation (#3256)
  configs/mc-simulation.yaml
  pkg/common/executor/executor.go
  pkg/e2e/adhoctestimages/adhoctestimages.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

feat: add Delivery Dashboard with SQS-driven pipeline status
  Dockerfile
  cmd/osde2e/dashboard/cmd.go
  cmd/osde2e/main.go
  dashboard.Dockerfile
  go.mod
  go.sum
  pkg/dashboard/BUILD_STATUS.md
  pkg/dashboard/COMPLETE.md
  pkg/dashboard/IMPLEMENTATION_SUMMARY.md
  pkg/dashboard/PLAN.md
  pkg/dashboard/README.md
  pkg/dashboard/TEMPLATE_FIX.md
  pkg/dashboard/collectors/operators.go
  pkg/dashboard/collectors/reserves.go
  pkg/dashboard/collectors/s3tests.go
  pkg/dashboard/collectors/sqs.go
  pkg/dashboard/collectors/usage.go
  pkg/dashboard/config/config.go
  pkg/dashboard/handlers/utils.go
  pkg/dashboard/models/types.go
  pkg/dashboard/server/server.go
  pkg/dashboard/server/templates.go
  pkg/dashboard/server/templates/base.html
  pkg/dashboard/server/templates/dashboard.html
  pkg/dashboard/server/templates/operators.html
  pkg/dashboard/server/templates/pipeline-detail.html
  pkg/dashboard/server/templates/reserves.html
  pkg/dashboard/server/templates/tests.html
  pkg/dashboard/server/templates/usage.html
  pkg/dashboard/store/store.go
  scripts/dashboard/deploy.sh
  scripts/dashboard/run-local.sh
  scripts/dashboard/verify-build.sh
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

build: update dashboard.Dockerfile labels and layer caching
  dashboard.Dockerfile
Due: osde2e-main-on-pull-request, osde2e-main-on-push

feat: Clusters page, Pipelines nav updates, build to out/
  Dockerfile
  dashboard.Dockerfile
  pkg/dashboard/collectors/reserves.go
  pkg/dashboard/server/server.go
  pkg/dashboard/server/templates/base.html
  pkg/dashboard/server/templates/operators.html
  pkg/dashboard/server/templates/usage.html
  scripts/dashboard/deploy.sh
Due: osde2e-main-on-pull-request, osde2e-main-on-push

feat: rename to Deliverables, pipeline visual, Analysis tab prep
  pkg/dashboard/models/types.go
  pkg/dashboard/server/server.go
  pkg/dashboard/server/templates/base.html
  pkg/dashboard/server/templates/operators.html
  pkg/dashboard/server/templates/pipeline-detail.html
  pkg/dashboard/server/templates/usage.html
  pkg/dashboard/store/store.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

feat: Analysis tab with failure grouping by summary
  pkg/dashboard/models/types.go
  pkg/dashboard/server/server.go
  pkg/dashboard/server/templates/analysis.html
  pkg/dashboard/server/templates/base.html
  pkg/dashboard/store/store.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

deploy: switch to emptyDir + RollingUpdate for zero-downtime rollouts
  scripts/dashboard/deploy.sh
Due: none

chore: add dashboard-dev slash command and skill
  .claude/commands/dashboard-dev.md
  .claude/skills/dashboard-dev/SKILL.md
Due: none

chore: PR cleanup — remove unused code and scaffolding artifacts
  Dockerfile
  pkg/dashboard/BUILD_STATUS.md
  pkg/dashboard/COMPLETE.md
  pkg/dashboard/IMPLEMENTATION_SUMMARY.md
  pkg/dashboard/PLAN.md
  pkg/dashboard/TEMPLATE_FIX.md
  pkg/dashboard/server/server.go
  pkg/dashboard/server/templates/dashboard.html
  pkg/dashboard/server/templates/reserves.html
Due: osde2e-main-on-pull-request, osde2e-main-on-push

refactor: remove dead code and extract shared collector helpers
  .claude/skills/dashboard-dev/SKILL.md
  pkg/dashboard/collectors/helpers.go
  pkg/dashboard/collectors/operators.go
  pkg/dashboard/collectors/s3tests.go
  pkg/dashboard/collectors/sqs.go
  pkg/dashboard/models/types.go
  pkg/dashboard/server/templates/tests.html
  pkg/dashboard/store/store.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

deploy: migrate dashboard to quay push + kustomize manifests
  .claude/skills/dashboard-dev/SKILL.md
  scripts/dashboard/deploy.sh
Due: none
