Repository openshift/osde2e: changes, and which Tekton pipelines are due for each by the changed paths.
All: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

fedramp-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/osde2e-cicada-tenant/osde2e/fedramp:{{revision}}
  - name: dockerfile
    value: test/fedramp/Dockerfile
  taskRunTemplate:
  ...

osde2e-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/osde2e-cicada-tenant/osde2e/osde2e-main:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: osde2e.Dockerfile
  ...

osde2e-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/osde2e-cicada-tenant/osde2e/osde2e-main:{{revision}}
  - name: dockerfile
    value: osde2e.Dockerfile
  - name: build-source-image
    value: 'true'
  ...

sdn-migration-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/osde2e-cicada-tenant/test-suites/sdn-migration:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

sdn-migration-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/osde2e-cicada-tenant/test-suites/sdn-migration:{{revision}}
  - name: dockerfile
    value: test/sdn_migration/Dockerfile
  taskRunTemplate:
  ...

[SDCICD-1759] set the xdg config
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] set the xdg config (#3193)
  scripts/parameterized-job-krknai.sh
Due: none

Add PreProcess to Orchestrator
  cmd/osde2e/krknai/cmd.go
  pkg/common/orchestrator/orchestrator.go
  pkg/e2e/e2e.go
  pkg/krknai/krknai.go
  pkg/krknai/krknai_test.go
  pkg/krknai/params_validation.go
  scripts/parameterized-job-krknai.sh
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1759] fix podman socket permission use
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] fix podman socket permission use (#3194)
  scripts/parameterized-job-krknai.sh
Due: none

update to gemini model 3.1-pro-preview as 3.1-pro is not supported. (#3183)
  internal/llm/gemini.go
  internal/llm/gemini_test.go
  pkg/common/config/config.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1759] keep user namespace ids
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] keep user namespace ids (#3195)
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] disable security options
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] fix krkn docker image tag and create shared and report dir
  pkg/krknai/krknai.go
  scripts/parameterized-job-krknai.sh
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Add ROSA engineers as approvers for nightly job YAML files
  OWNERS
Due: none

[SDCICD-1759] podman cp isn’t needed since the files are already in /tmp/osde2e-report
  scripts/parameterized-job-krknai.sh
Due: none

Add LOG_BUCKET_REGION
  pkg/common/aws/s3.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1773 consolidate slack webhook as a process independent config
  cmd/osde2e/cleanup/cmd.go
  internal/reporter/README.md
  pkg/common/config/config.go
  pkg/e2e/e2e.go
  pkg/e2e/slack_integration_test.go
  pkg/krknai/krknai_integration_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Skip S3 upload for GCP runs without AWS creds
  pkg/common/aws/s3.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

fix: remove unnecessary filter
  OWNERS
Due: none

[SDCICD-1759] remove host network to fix permissions issues and download oc client
  osde2e.Dockerfile
  pkg/krknai/krknai.go
  scripts/parameterized-job-krknai.sh
Due: osde2e-main-on-pull-request, osde2e-main-on-push

refactor(cleanup/aws): unify cleanup results with Counters struct
  cmd/osde2e/cleanup/cmd.go
  pkg/common/aws/ec2.go
  pkg/common/aws/iam.go
  pkg/common/aws/s3.go
  pkg/common/aws/types.go
  pkg/common/aws/vpc.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Use internal registry image for executor artifact sidecar
  pkg/common/executor/executor.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1812] removed unnecessary configs from krkn-ai jenkins job script
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1812] update region if cluster id is provided
  pkg/common/providers/ocmprovider/cluster.go
  pkg/common/providers/rosaprovider/wrapped_calls.go
  pkg/common/spi/provider.go
  pkg/krknai/krknai.go
  scripts/parameterized-job-krknai.sh
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1759] fix krkn-ai container permission issues
  pkg/krknai/krknai.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Change to the UBI10 image
  pkg/common/executor/executor.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Fix retryer exponential backoff using XOR instead of exponentiation
  pkg/common/providers/ocmprovider/retryer.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

add krknai doc
  docs/Krkn-AI-Chaos-Testing.md
  docs/Krkn-AI-Jenkins-Job.md
Due: none

SDCICD-1721 remove cad env var viper as it's now loaded thru secrets
  pkg/common/config/config.go
  pkg/common/helper/helper.go
  pkg/common/load/load.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

update test image for operators
  configs/e2e-suite.yaml
  configs/rosa-e2e-suite.yaml
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SREP-4255] Add --security-group flag to cleanup command
  cmd/osde2e/cleanup/cmd.go
  pkg/common/aws/securitygroups.go
  pkg/common/aws/vpc.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

fix: include kubelet error in image pull failure message
  pkg/common/executor/executor.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1816] size Prometheus token to workload and ensure cluster expiry covers krkn-ai run
  go.mod
  go.sum
  pkg/krknai/krknai.go
  pkg/krknai/krknai_test.go
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

Add a comment noting the dependency between security groups and VPCs
  cmd/osde2e/cleanup/cmd.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SREP-4255] Add unit tests for security group cleanup
  pkg/common/aws/securitygroups.go
  pkg/common/aws/securitygroups_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Update the UBI10 image to 10.1
  pkg/common/executor/executor.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Revert "[SREP-3734] Use internal registry image for executor artifact sidecar"
  pkg/common/executor/executor.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Revert "[SREP-3734] Use internal registry image for executor artifact sidecar" (#3218)
  pkg/common/executor/executor.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Update the UBI10 image to 10.1 (#3217)
  pkg/common/executor/executor.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Fix AlertmanagerInhibitions test by polling for alert instead of fixed sleep
  pkg/e2e/osd/inhibitions.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Fix prometheus data collection tar exit code suppression
  pkg/e2e/state/prometheus.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Fix oc cp exit code being masked in prometheus data collection
  pkg/e2e/state/prometheus.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Reformat prometheus shell command for readability
  pkg/e2e/state/prometheus.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Path conditions:
  fedramp-on-push: ((any of: test/fedramp/***) or (any of: .tekton/fedramp-push.yaml)) or (any of: go.*)
  osde2e-main-on-pull-request: (any file but: ^(?:docs|\.github|scripts|test)/|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE|renovate.json)$) or (any of: .tekton/osde2e-main-pull-request.yaml)
  osde2e-main-on-push: (any file but: ^(?:docs|\.github|scripts|test)/|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE|renovate.json)$) or (any of: .tekton/osde2e-main-push.yaml)
  sdn-migration-on-pull-request: ((any of: test/sdn_migration/***) or (any of: .tekton/sdn-migration-pull-request.yaml)) or (any of: go.*)
  sdn-migration-on-push: ((any of: test/sdn_migration/***) or (any of: .tekton/sdn-migration-push.yaml)) or (any of: go.*)
