Repository openshift/osde2e: changes, and which Tekton pipelines are due for each by the changed paths.
All: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

Path conditions:
  fedramp-on-push: ((any of: test/fedramp/***) or (any of: .tekton/fedramp-push.yaml)) or (any of: go.*)
  osde2e-main-on-pull-request: (any file but: ^(?:docs|\.github|scripts|test)/|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE|renovate.json)$) or (any of: .tekton/osde2e-main-pull-request.yaml)
  osde2e-main-on-push: (any file but: ^(?:docs|\.github|scripts|test)/|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE|renovate.json)$) or (any of: .tekton/osde2e-main-push.yaml)
  sdn-migration-on-pull-request: ((any of: test/sdn_migration/***) or (any of: .tekton/sdn-migration-pull-request.yaml)) or (any of: go.*)
  sdn-migration-on-push: ((any of: test/sdn_migration/***) or (any of: .tekton/sdn-migration-push.yaml)) or (any of: go.*)

[SDCICD-1759] Fix krkn-ai parameterized job Docker script
  scripts/parameterized-job-krknai.sh
Due: none

update the rosa config to include testings
  configs/rosa-e2e-suite.yaml
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1721 implementing dynamic secrets in e2e containers
  pkg/common/load/load.go
  pkg/common/load/load_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1785 various updates to slack message after enabling it on more operators
  pkg/common/slack/reporter.go
  pkg/common/slack/reporter_testoutput_test.go
  pkg/common/slack/reporter_workflow_test.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

add christophermancini to approvers
  OWNERS
Due: none

shorten artifact links using slack workflow vars
  pkg/common/slack/reporter.go
  pkg/common/slack/reporter_workflow_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

add ability to configure cluster name prefix
  README.md
  cmd/osde2e/provision/cmd.go
  cmd/osde2e/test/cmd.go
  docs/Config.md
  pkg/common/cluster/clusterutil.go
  pkg/common/config/config.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1759] Migrate krkn-ai job from Docker to Podman
  osde2e.Dockerfile
  scripts/parameterized-job-krknai.sh
Due: osde2e-main-on-pull-request, osde2e-main-on-push

keep empty string to avoid 400 bad input error from slack webhook
  pkg/common/slack/reporter.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

keep empty string to avoid 400 bad input error from slack webhook (#3173)
  pkg/common/slack/reporter.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

update Dockerfiles to use Go 1.25 builder images
  test/fedramp/Dockerfile
  test/mcscupgrade/Dockerfile
  test/sdn_migration/Dockerfile
Due: fedramp-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

add golangci-lint exclusions and tool-versions
  .golangci.yml
  .tool-versions
Due: osde2e-main-on-pull-request, osde2e-main-on-push

update osde2e-common and align dependency versions
  go.mod
  go.sum
  pkg/e2e/verify/user_workload_monitoring.go
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

update ci-operator to use Go 1.25 builder image
  .ci-operator.yaml
Due: osde2e-main-on-pull-request, osde2e-main-on-push

update main osde2e.Dockerfile to use Go 1.25 builder image
  osde2e.Dockerfile
Due: osde2e-main-on-pull-request, osde2e-main-on-push

fix Dockerfile base images for enterprise-contract compliance
  .tool-versions
  osde2e.Dockerfile
  test/fedramp/Dockerfile
  test/mcscupgrade/Dockerfile
  test/sdn_migration/Dockerfile
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

SDCICD-1801 pdhelper claude skill
  .claude/skills.json
  .claude/skills/pdhelper.md
Due: osde2e-main-on-pull-request, osde2e-main-on-push

fix executor artifact sidecar race condition
  pkg/common/executor/executor.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

fix the eip nil pointer issue
  pkg/common/aws/ec2.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

update go-genai library and gemini model
  go.mod
  go.sum
  internal/llm/gemini.go
  pkg/common/config/config.go
Due: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

[SDCICD-1759] krkn-ai job: start Podman API socket before podman create
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] chmod report/shared bind-mount dirs for krkn-ai job
  scripts/parameterized-job-krknai.sh
Due: none

Enhance AGENTS.md with comprehensive documentation
  AGENTS.md
Due: none

fix cleanup command polling issue
  cmd/osde2e/cleanup/cmd.go
  pkg/common/providers/ocmprovider/cluster.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1759] fix jenkins job file permissions; pin default krkn-ai image
  pkg/krknai/krknai.go
  pkg/krknai/krknai_test.go
  scripts/parameterized-job-krknai.sh
Due: osde2e-main-on-pull-request, osde2e-main-on-push

update to gemini model 3.1-pro-preview as 3.1-pro is not supported.
  internal/llm/gemini.go
  internal/llm/gemini_test.go
  pkg/common/config/config.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1759] run osde2e container in privileged mode to match krkn.
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] run osde2e container in privileged mode to match krkn. (#3184)
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] run script with DOCKER_HOST
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] dont pass DOCKER_HOST to podman create
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] mount podman socket in osde2e container
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] mount podman socket in osde2e container (#3187)
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] print podman socket
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] print podman socket (#3188)
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] print user specific podman socket info
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] print user specific podman socket info (#3190)
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] start podman socket if not already running
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] start podman socket if not already running (#3191)
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] pass podman socket as env to osde2e container
  scripts/parameterized-job-krknai.sh
Due: none

[SDCICD-1759] pass podman socket as env to osde2e container (#3192)
  scripts/parameterized-job-krknai.sh
Due: none
