Repository openshift/osde2e: changes, and which Tekton pipelines are due for each by the changed paths.
All: fedramp-on-push, osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

Path conditions:
  fedramp-on-push: ((any of: test/fedramp/***) or (any of: .tekton/fedramp-push.yaml)) or (any of: go.*)
  osde2e-main-on-pull-request: (any file but: ^(?:docs|\.github|scripts|test)/|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE|renovate.json)$) or (any of: .tekton/osde2e-main-pull-request.yaml)
  osde2e-main-on-push: (any file but: ^(?:docs|\.github|scripts|test)/|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE|renovate.json)$) or (any of: .tekton/osde2e-main-push.yaml)
  sdn-migration-on-pull-request: ((any of: test/sdn_migration/***) or (any of: .tekton/sdn-migration-pull-request.yaml)) or (any of: go.*)
  sdn-migration-on-push: ((any of: test/sdn_migration/***) or (any of: .tekton/sdn-migration-push.yaml)) or (any of: go.*)

Revert "created a GitHub workflow to detect if files in pkg/ or cmd/ director…"
  .github/workflows/orchestrator-change-detection.yml
Due: none

Revert "created a GitHub workflow to detect if files in pkg/ or cmd/ director…" (#3095)
  .github/workflows/orchestrator-change-detection.yml
Due: none

dummy commit
  cmd/osde2e/test/cmd.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

updated osde2e README, created CONTRIBUTING.md and consolidated documents
  CONTRIBUTING.md
  README.md
  docs/Config.md
  docs/Log-Analysis-System.md
  docs/Self-Service-MOPs/Ad-Hoc-E2E-Job.md
  docs/adhoc-osde2e-testing.md
  docs/run-osde2e-tests.md
  docs/testing-with-osde2e.md
  test/mcscupgrade/README.md
  test/sdn_migration/README.md
Due: sdn-migration-on-pull-request, sdn-migration-on-push

feat: expanded LLM report output
  internal/reporter/README.md
  internal/reporter/slack.go
  internal/reporter/slack_testoutput_test.go
  internal/reporter/slack_workflow_test.go
  internal/reporter/testdata/periodic-ci-openshift-osde2e-main-nightly-4.20-osd-aws/build-log.txt
  pkg/common/slack/client.go
  pkg/e2e/e2e.go
  pkg/e2e/e2e_test.go
  pkg/e2e/slack_integration_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

maint: rename golangci-lint config file so it is auto discovered by the tool
  .golangci.yml
  Makefile
Due: osde2e-main-on-pull-request, osde2e-main-on-push

sdcicd-1739 automatically load env vars with the EXTERNAL_SECRET_ prefix to passthrough secrets
  pkg/common/load/load.go
  pkg/common/load/load_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

sdcicd-1739 automatically load env vars with the EXTERNAL_SECRET_ prefix to passthrough secrets (#3100)
  pkg/common/load/load.go
  pkg/common/load/load_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

maint: rename golangci-lint config file so it is auto discovered by the tool (#3099)
  .golangci.yml
  Makefile
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Add S3 artifact URLs
  pkg/common/aws/s3.go
  pkg/common/aws/s3_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

feat: rearrange order of messages
  internal/reporter/slack.go
  internal/reporter/slack_workflow_test.go
  pkg/e2e/slack_integration_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Fix dry run issue, compact log messages
  cmd/osde2e/krknai/cmd.go
  cmd/osde2e/test/cmd.go
  pkg/krknai/krknai.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

filter uploads
  pkg/common/aws/s3.go
  pkg/common/aws/s3_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Fix dry run issue, compact log messages (#3102)
  cmd/osde2e/krknai/cmd.go
  cmd/osde2e/test/cmd.go
  pkg/krknai/krknai.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

fix: use ERROR marker, consolidate code, improve READMEs
  README.md
  internal/aggregator/aggregator.go
  internal/reporter/README.md
  internal/reporter/slack.go
  internal/reporter/slack_testoutput_test.go
  internal/reporter/testdata/periodic-ci-openshift-osde2e-main-nightly-4.20-osd-aws/test_output.log
  pkg/common/util/util.go
  pkg/common/util/util_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1733: Add KrknAI chaos test results aggregator
  internal/aggregator/krknai.go
  internal/aggregator/krknai_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1733: Add KrknAI chaos test analysis engine
  internal/analysisengine/engine.go
  internal/analysisengine/krknai.go
  internal/llm/tools/read_file.go
  internal/llm/tools/read_file_test.go
  internal/llm/tools/tools.go
  internal/prompts/templates/krknai.yaml
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1733] refactor(llm/tools): narrow Tool interface to accept LogArtifacts only
  internal/analysisengine/engine.go
  internal/llm/tools/read_file.go
  internal/llm/tools/read_file_test.go
  internal/llm/tools/tools.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Use OCM_CLIENT_ID and OCM_CLIENT_SECRET instead of OCM_TOKEN for authentication.
  README.md
  test/mcscupgrade/README.md
  test/sdn_migration/README.md
Due: sdn-migration-on-pull-request, sdn-migration-on-push

Use OCM_CLIENT_ID and OCM_CLIENT_SECRET instead of OCM_TOKEN for authentication. (#3107)
  README.md
  test/mcscupgrade/README.md
  test/sdn_migration/README.md
Due: sdn-migration-on-pull-request, sdn-migration-on-push

move these document from ops-sop to osde2e repo
  docs/adhoc-osde2e-testing.md
  docs/run-osde2e-tests.md
  docs/testing-with-osde2e.md
Due: none

chore: remove unused parameters and always-nil returns [SDCICD-1266]
  .golangci.yml
  internal/aggregator/aggregator.go
  internal/reporter/slack.go
  internal/reporter/slack_testoutput_test.go
  pkg/common/cluster/healthchecks/pods_test.go
  pkg/common/versions/versionselector.go
  pkg/e2e/e2e.go
  pkg/e2e/osd/dedicatedadmin.go
  test/mcscupgrade/mcscupgrade_test.go
  test/sdn_migration/sdn_migration_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

chore: remove unnecessary type conversions
  .golangci.yml
  pkg/common/helper/workloads.go
  pkg/common/providers/mock/mock.go
  pkg/common/providers/ocmprovider/cluster.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

chore: enable errcheck, nolintlint, and nilnil linters
  .golangci.yml
  cmd/osde2e/provision/cmd.go
  internal/sanitizer/sanitizer.go
  pkg/common/aws/s3.go
  pkg/common/aws/s3_test.go
  pkg/common/cluster/clusterutil.go
  pkg/common/concurrentviper/generated.go
  pkg/common/providers/ocmprovider/cluster.go
  pkg/e2e/e2e.go
  test/sdn_migration/sdn_migration_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

removing workaround code
  pkg/common/config/config.go
  pkg/common/providers/ocmprovider/cluster.go
  pkg/common/providers/ocmprovider/kubeconfig.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

change s3 bucket
  pkg/common/aws/s3.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1733] Add KrknAI aggregator for chaos test results
  pkg/krknai/aggregator/aggregator.go
  pkg/krknai/aggregator/aggregator_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Set Content-Type for .log
  pkg/common/aws/s3.go
  pkg/common/aws/s3_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1733] Add KrknAI analysis engine and prompt store extension
  internal/analysisengine/engine.go
  internal/analysisengine/types.go
  internal/prompts/prompts.go
  internal/prompts/prompts_test.go
  pkg/e2e/adhoctestimages/adhoctestimages.go
  pkg/e2e/e2e.go
  pkg/krknai/analysisengine/engine.go
  pkg/krknai/analysisengine/engine_test.go
  pkg/krknai/analysisengine/prompts/krknai.yaml
Due: osde2e-main-on-pull-request, osde2e-main-on-push

LLM tool support reading single file or multiple files
  internal/llm/tools/read_file.go
  internal/llm/tools/read_file_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

chore(lint): enable staticcheck, loggercheck, and additional linters [SDCICD-1266]
  .golangci.yml
  internal/analysisengine/engine.go
  internal/reporter/slack_testoutput_test.go
  pkg/common/aws/s3.go
  pkg/common/cluster/healthchecks/clusterversionoperator.go
  pkg/common/cluster/healthchecks/machines.go
  pkg/common/cluster/healthchecks/nodes.go
  pkg/common/cluster/healthchecks/operators.go
  pkg/common/cluster/healthchecks/pods.go
  pkg/common/cluster/healthchecks/pods_test.go
  pkg/common/helper/helper.go
  pkg/common/providers/rosaprovider/cluster.go
  pkg/common/runner/pod.go
  pkg/common/runner/service.go
  pkg/common/versions/installselectors/specific_image.go
  pkg/debug/diff.go
  pkg/e2e/e2e.go
  pkg/e2e/e2e_test.go
  pkg/e2e/operators/managedvelero.go
  pkg/e2e/osd/inhibitions.go
  test/mcscupgrade/mcscupgrade_test.go
  test/sdn_migration/sdn_migration_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

[SDCICD-1723] trigger log analysis for provision-failure and avoid double analysis for adhoc/test-suites
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1734] Simplify read_file tool to use single files array
  internal/llm/tools/read_file.go
  internal/llm/tools/read_file_test.go
  internal/prompts/templates/default.yaml
Due: osde2e-main-on-pull-request, osde2e-main-on-push

updating owners per onboarding template
  OWNERS
Due: none

chore: enable errcheck, nolintlint, and nilnil linters
  .golangci.yml
  cmd/osde2e/provision/cmd.go
  cmd/osde2e/provision/cmd_test.go
  internal/sanitizer/sanitizer.go
  pkg/common/aws/s3.go
  pkg/common/aws/s3_test.go
  pkg/common/cluster/clusterutil.go
  pkg/common/concurrentviper/generated.go
  pkg/common/providers/ocmprovider/cluster.go
  pkg/e2e/e2e.go
  test/sdn_migration/sdn_migration_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

Enable three new golangci-lint checks to improve error handling and code quality.
  .golangci.yml
  cmd/osde2e/provision/cmd.go
  internal/sanitizer/sanitizer.go
  pkg/common/aws/s3.go
  pkg/common/aws/s3_test.go
  pkg/common/cluster/clusterutil.go
  pkg/common/concurrentviper/generated.go
  pkg/common/providers/ocmprovider/cluster.go
  pkg/e2e/e2e.go
  test/sdn_migration/sdn_migration_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request, sdn-migration-on-push

fix: add ReserveFull error logging back
  pkg/common/cluster/clusterutil.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

fix nil pointer and create svc func
  pkg/common/helper/crud.go
  pkg/common/helper/helper.go
  pkg/common/helper/utilities.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Set default viper config value for skip-destroy-cluster
  pkg/common/config/config.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push
