Repository openshift/osde2e: changes, and which Tekton pipelines are due for each by the changed paths.
All: osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request

Path conditions:
  osde2e-main-on-pull-request: (any file but: ^(?:docs|\.github|scripts|test)/|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE|renovate.json)$) or (any of: .tekton/osde2e-main-pull-request.yaml)
  osde2e-main-on-push: (any file but: ^(?:docs|\.github|scripts|test)/|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE|renovate.json)$) or (any of: .tekton/osde2e-main-push.yaml)
  sdn-migration-on-pull-request: ((any of: test/sdn_migration/***) or (any of: .tekton/sdn-migration-pull-request.yaml)) or (any of: go.*)

claiming update: prefer ready clusters over installing
  pkg/common/providers/ocmprovider/cluster.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

use new cluster property for reserve/claim
  pkg/common/clusterproperties/properties.go
  pkg/common/clusterproperties/statuses.go
  pkg/common/providers/ocmprovider/cluster.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

remove self from OWNERS
  OWNERS
Due: none

SDCICD-1656: skip resource cleanup for active clusters Co-Authored-By: cursor <cursor@cursor.sh>
  cmd/osde2e/cleanup/cmd.go
  pkg/common/aws/ec2.go
  pkg/common/aws/iam.go
  pkg/common/aws/s3.go
  pkg/common/aws/vpc.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

run fresh container for each jenkins job run
  scripts/gap-analysis-jobs.sh
  scripts/provision-cluster-reserve.sh
Due: none

run fresh container for each jenkins job run (#3044)
  scripts/gap-analysis-jobs.sh
  scripts/provision-cluster-reserve.sh
Due: none

Revert "run fresh container for each jenkins job run"
  scripts/gap-analysis-jobs.sh
  scripts/provision-cluster-reserve.sh
Due: none

use fresh containers for each run
  scripts/gap-analysis-jobs.sh
  scripts/provision-cluster-reserve.sh
Due: none

use fresh containers for each run (#3046)
  scripts/gap-analysis-jobs.sh
  scripts/provision-cluster-reserve.sh
Due: none

SDCICD-1627: Add tools calls to summary
  internal/analysisengine/engine.go
  internal/llm/config.go
  internal/llm/gemini.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1656: Improve EC2 instance termination logs.
  pkg/common/aws/ec2.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Remove mistakenly added script latest-default-z-minus-1-to-latest-default-z.sh
  scripts/latest-default-z-minus-1-to-latest-default-z.sh
Due: none

script for four jobs
  scripts/latest-default-minus-1-to-latest-default.sh
Due: none

unify osde2e upgrade script by parameterizing env vars
  scripts/latest-default-minus-1-to-latest-default.sh
Due: none

SDCICD-1656: add instance names to EC2 termination logs
  pkg/common/aws/ec2.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

fix error in extending cluster during claim process
  pkg/common/cluster/clusterutil.go
  pkg/common/providers/rosaprovider/config.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

fix error in extending cluster during claim process (#3052)
  pkg/common/cluster/clusterutil.go
  pkg/common/providers/rosaprovider/config.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

remove self from OWNERS (#3042)
  OWNERS
Due: none

SDCICD-1657: Implement must gather tool
  internal/aggregator/aggregator.go
  internal/analysisengine/engine.go
  internal/llm/tools/must_gather.go
  internal/llm/tools/must_gather_test.go
  internal/llm/tools/omc_client.go
  internal/llm/tools/read_file.go
  internal/llm/tools/tools.go
  internal/prompts/templates/default.yaml
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1657: add M1 Mac support and remove Windows from OMC client
  internal/llm/tools/omc_client.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Add new reviewers to OWNERS file
  OWNERS
Due: none

Add varunraokadaparthi christophermancini to approvers list
  OWNERS
Due: none

SDCICD-1658: add GEMINI_API_KEY to passthruSecrets
  pkg/common/load/load.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Add DataSanitizer, remove mutex locks
  internal/aggregator/aggregator.go
  internal/analysisengine/engine.go
  internal/sanitizer/README.md
  internal/sanitizer/audit.go
  internal/sanitizer/rules.go
  internal/sanitizer/sanitizer.go
  internal/sanitizer/sanitizer_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

replace fake JWT token in tests
  internal/sanitizer/sanitizer_test.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Integrate Sanitizer with real_file
  internal/llm/tools/read_file.go
  internal/llm/tools/read_file_test.go
  internal/llm/tools/tools.go
  internal/sanitizer/rules.go
  internal/sanitizer/sanitizer.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1620: extract Slack functionality into common package
  cmd/osde2e/cleanup/cmd.go
  internal/reporter/slack.go
  pkg/common/config/config.go
  pkg/common/slack/client.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1692: send slack notifcation based on channel id
  internal/reporter/slack.go
  pkg/common/config/config.go
  pkg/common/load/load.go
  pkg/e2e/adhoctestimages/adhoctestimages.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1620: implement analysis reporting and per-image slack notifications with TestSuites
  cmd/osde2e/cleanup/cmd.go
  cmd/osde2e/test/cmd.go
  internal/analysisengine/engine.go
  internal/prompts/templates/default.yaml
  internal/reporter/README.md
  internal/reporter/reporter.go
  internal/reporter/slack.go
  pkg/common/config/config.go
  pkg/common/load/load.go
  pkg/common/providers/ocmprovider/cluster.go
  pkg/common/slack/client.go
  pkg/e2e/adhoctestimages/adhoctestimages.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1620: implement analysis reporting and per-image slack notifications with TestSuites (#3051)
  cmd/osde2e/cleanup/cmd.go
  cmd/osde2e/test/cmd.go
  internal/analysisengine/engine.go
  internal/prompts/templates/default.yaml
  internal/reporter/README.md
  internal/reporter/reporter.go
  internal/reporter/slack.go
  pkg/common/config/config.go
  pkg/common/load/load.go
  pkg/common/providers/ocmprovider/cluster.go
  pkg/common/slack/client.go
  pkg/e2e/adhoctestimages/adhoctestimages.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

SDCICD-1620 readability for slack notifications
  internal/reporter/slack.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

update default slack channel
  pkg/common/config/config.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

[SDCICD-1704] add cluster id and expiration to message
  internal/analysisengine/engine.go
  internal/reporter/slack.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push

bump go version and update dependency
  .ci-operator.yaml
  go.mod
  go.sum
  pkg/common/aws/iam.go
  pkg/e2e/verify/user_workload_monitoring.go
Due: osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request

update osde2e dependency vesrion based on osde2e-common's latest change
  go.mod
  go.sum
Due: osde2e-main-on-pull-request, osde2e-main-on-push, sdn-migration-on-pull-request

Change golangci-lint to use latest version instead of v2.0.1
  Makefile
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Revert "Change golangci-lint to use latest version instead of v2.0.1"
  Makefile
Due: osde2e-main-on-pull-request, osde2e-main-on-push

Change golangci-lint to use latest version
  Makefile
Due: osde2e-main-on-pull-request, osde2e-main-on-push
